::placeholder {
    color: #555;
    letter-spacing: 1px;
}

input {
    color: #fff !important;
    letter-spacing: 1px !important;
}

.close-icon {
    &:hover {
        cursor: pointer;
    }
}

.song-cover-overlay {
    transition: .3s;
    background-color: rgba(0, 0, 0, 0);
    mat-icon {
        transition: .3s;
        opacity: 0 !important;
        transform: scale(1.4);
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        mat-icon {
            opacity: 1 !important;
            cursor: pointer;
        }
    }
}

.user-music-dialog-container {
    ::ng-deep {
        .mat-button-disabled {
            color: rgba(0, 0, 0, 0.87) !important;
        }
        .mat-autocomplete-panel {
            background-color: rgba(68, 68, 68, 1) !important;
        }
        .mat-simple-snackbar-action {
            color: #33f58e !important;
        }
        .mat-form-field-flex {
            background-color: #222 !important;
        }
    }
}

::ng-deep {
    .mat-autocomplete-panel  {
        background-color: rgba(68, 68, 68, 1) !important; 
        .mat-option.mat-selected:not(.mat-active):not(:hover) {
            background-color: rgba(68, 68, 68, 1) !important; 
        }
    }
}

mat-option {
    color: #fff !important;
}