<mat-toolbar class="bg-second-color">
  <div class="grid col-12 align-items-center h-full text-white m-0">
    <div class="col-4 align-items-center grid m-0">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="mr-4"
        style="width: fit-content !important"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="text-2xl" style="letter-spacing: 1px !important">
        Stream<span class="text-third-color">Indie</span>
      </h1>
      <mat-icon class="text-3xl">music_note</mat-icon>
    </div>
    <div class="col-4 m-0 p-0">
      <mat-form-field
        class="w-full text-base"
        appearance="legacy"
        floatLabel="never"
        style="transform: translateY(5px); letter-spacing: 1px"
      >
        <mat-label>Search Your Music</mat-label>
        <input matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-4 grid m-0 p-0 justify-content-end gap-3">
      <button
        mat-flat-button
        style="padding: 0 30px !important; letter-spacing: 1px"
        class="bg-third-color border-round-3xl"
      >
        Sign Up
      </button>
      <button
        mat-flat-button
        style="
          background-color: transparent !important;
          border: 3px solid #33f58e !important;
          padding: 0 30px !important;
          letter-spacing: 1px;
        "
        class="text-white border-round-3xl"
      >
        Sign In
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="bg-second-color">
    <mat-nav-list class="text-white">
      <ng-container *ngFor="let menu of menuList">
        <a
          [routerLink]="menu?.state"
          routerLinkActive="text-third-color"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.close()"
        >
          <mat-icon>{{ menu?.icon }}</mat-icon>
          <p class="m-0 text-base">{{ menu?.name }}</p>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div
      class="footer-container w-full bg-second-color text-white grid justify-content-center m-0 p-4"
      style="box-sizing: border-box !important"
    >
      <p class="m-0 text-base" style="letter-spacing: 2px">
        Copyright &copy; 2020 StreamIndie
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
