::ng-deep {
    .mat-table {
        background-color: transparent !important;
    }
}

td, th {
    color: #fff !important;
    font-size: 1rem;
    letter-spacing: 1px;
}

td {
    color: #aaa !important;
    &:first-child {
        width: 80px;
    }
}

.action-container{
    p:hover {
        cursor: pointer;
        color: #fff;
    }
}

.number-column {
    mat-icon:hover {
        cursor: pointer;
    }
}