::ng-deep {
    .mat-table {
        background-color: transparent !important;
    }
}

.action-container {
    ::ng-deep {
        .mat-flat-button.mat-button-disabled.mat-button-disabled {
            p {
                color: #444 !important;
            }
        }
    }
}

td, th {
    color: #fff !important;
    font-size: 1rem;
    letter-spacing: 1px;
}

td {
    color: #aaa !important;
    &:first-child {
        width: 80px;
    }
    &:nth-child(3) {
        width: 280px;
    }
    &:nth-child(4) {
        width: 140px;
    }
}

.action-container{
    p:hover {
        cursor: pointer;
        color: #fff;
    }
}

.number-column {
    mat-icon:hover {
        cursor: pointer;
    }
}