<div
  class="audio-container w-full bg-first-color grid m-0"
  style="height: 100px; padding: 1rem !important; box-sizing: border-box"
>
  <div class="col-4 m-0 p-0">
    <div class="flex gap-1">
      <div class="song-image-container mr-2">
        <img
          [src]="currentPlayingSong?.image?.url"
          style="max-width: 68px !important; max-height: 100%"
        />
      </div>
      <div
        class="song-description-container flex flex-column justify-content-center"
        *ngIf="currentPlayingSong?.title"
      >
        <h2 class="m-0 p-0" style="color: #fff">
          {{ currentPlayingSong?.title | separateTitle: "title" }}
        </h2>
        <p class="m-0 p-0" style="letter-spacing: 1px; color: #555 !important">
          {{ currentPlayingSong?.title | separateTitle: "artist" }}
        </p>
      </div>
    </div>
  </div>
  <div
    class="col-4 m-0 p-0 flex flex-column justify-content-center align-items-center gap-2"
    style="transform: translateY(-4px)"
  >
    <div class="button-container flex gap-3">
      <button mat-icon-button>
        <mat-icon style="color: #fff !important; transform: scale(1.3)"
          >skip_previous</mat-icon
        >
      </button>
      <button
        mat-icon-button
        (click)="setCurrentPlayingSong(currentPlayingSong)"
      >
        <mat-icon
          *ngIf="!currentPlayingSong?.isPlayed"
          style="color: #fff !important; transform: scale(1.3)"
          >play_arrow</mat-icon
        >
        <mat-icon
          *ngIf="currentPlayingSong?.isPlayed === true"
          style="color: #fff !important; transform: scale(1.3)"
          >pause</mat-icon
        >
      </button>
      <button mat-icon-button>
        <mat-icon style="color: #fff !important; transform: scale(1.3)"
          >skip_next</mat-icon
        >
      </button>
    </div>
    <div
      class="duration-container w-full flex m-0 p-0 align-items-center gap-3"
    >
      <p style="color: #fff" class="m-0 p-0">{{ songCurrentTime }}</p>
      <div class="duration-full w-full bg-second-color" style="height: 5px">
        <div
          class="duration-full h-full"
          [ngStyle]="{ width: songProgress }"
          style="background-color: #fff; transition: 0.3s linear"
        ></div>
      </div>
      <p style="color: #fff" class="m-0 p-0">
        {{ getDuration() }}
      </p>
    </div>
  </div>
  <div class="col-4 m-0 p-0"></div>
</div>
<audio #audioPlayer hidden preload="metadata">
  <source [src]="currentPlayingSong?.audio?.url" type="audio/mpeg" />
</audio>
