<div
  class="audio-container w-full bg-second-color grid m-0"
  style="
    height: 80px;
    padding: 10px 1rem !important;
    box-sizing: border-box;
    border-top: 1px solid #323232;
    position: relative;
  "
>
  <div class="col-6 m-0 p-0">
    <div class="flex gap-1">
      <div class="song-image-container mr-3 mt-1">
        <img
          [src]="currentPlayingSong?.image?.url"
          style="
            max-width: 48px !important;
            max-height: 100%;
            object-fit: cover;
          "
        />
      </div>
      <div
        class="song-description-container flex flex-column justify-content-center"
        *ngIf="currentPlayingSong?.title"
      >
        <h2 class="m-0 p-0" style="color: #fff">
          {{ currentPlayingSong?.title | separateTitle: "title" }}
        </h2>
        <p class="m-0 p-0" style="letter-spacing: 1px; color: #555 !important">
          {{ currentPlayingSong?.title | separateTitle: "artist" }}
        </p>
      </div>
    </div>
  </div>
  <div
    class="col-6 m-0 p-0 flex flex-column justify-content-center align-items-end gap-2"
    style="transform: translateY(-4px)"
  >
    <div class="action-container flex m-0 p-0 gap-3">
      <div class="button-container flex">
        <button mat-icon-button (click)="setPlayBackMode('repeatOne')">
          <mat-icon
            style="color: #555 !important; transform: scale(1.3)"
            [ngStyle]="{
              color:
                playBackMode?.repeatOne && !playBackMode?.shuffle
                  ? '#33f58e'
                  : '#555'
            }"
            >repeat_one</mat-icon
          >
        </button>
        <button mat-icon-button>
          <mat-icon
            style="color: #fff !important; transform: scale(1.3)"
            (click)="skipSong('previous')"
            >skip_previous</mat-icon
          >
        </button>
        <button
          mat-icon-button
          (click)="setCurrentPlayingSong(currentPlayingSong)"
        >
          <mat-icon
            *ngIf="!currentPlayingSong?.isPlayed"
            style="color: #fff !important; transform: scale(1.3)"
            >play_arrow</mat-icon
          >
          <mat-icon
            *ngIf="currentPlayingSong?.isPlayed === true"
            style="color: #fff !important; transform: scale(1.3)"
            >pause</mat-icon
          >
        </button>
        <button mat-icon-button>
          <mat-icon
            style="color: #fff !important; transform: scale(1.3)"
            (click)="skipSong('next')"
            >skip_next</mat-icon
          >
        </button>
        <button mat-icon-button (click)="setPlayBackMode('shuffle')">
          <mat-icon
            style="color: #555 !important; transform: scale(1.3)"
            [ngStyle]="{
              color:
                !playBackMode?.repeatOne && playBackMode?.shuffle
                  ? '#33f58e'
                  : '#555'
            }"
            >shuffle</mat-icon
          >
        </button>
      </div>
      <div
        class="duration-container flex m-0 p-0 align-items-center gap-3"
        style="width: 400px !important"
      >
        <p style="color: #fff" class="m-0 p-0">{{ songCurrentTime }}</p>
        <input
          [value]="songProgress ? songProgress : 0"
          type="range"
          min="0"
          max="100"
          style="height: 5px !important; background-size: 0% 100%"
          [ngStyle]="{ 'background-size': songProgress + '% 100%' }"
          class="w-full song-range"
          [formControl]="songCtrl"
          #songRange
        />
        <p style="color: #fff" class="m-0 p-0">
          {{ getDuration() }}
        </p>
      </div>
      <div class="volume-container flex m-0 p-0 align-items-center">
        <button mat-icon-button (click)="toggleVolume()">
          <mat-icon
            style="color: #fff !important; transform: scale(1.1)"
            *ngIf="volumeCtrl.value"
            >volume_up</mat-icon
          >
          <mat-icon
            style="color: #fff !important; transform: scale(1.1)"
            *ngIf="!volumeCtrl.value"
            >volume_off</mat-icon
          >
        </button>
        <input
          type="range"
          min="0"
          max="100"
          [formControl]="volumeCtrl"
          style="height: 5px !important"
          #volumeRange
          class="volume-range"
        />
      </div>
    </div>
  </div>
</div>
<audio #audioPlayer hidden preload="metadata">
  <source [src]="currentPlayingSong?.audio?.url" type="audio/mpeg" />
</audio>
