<mat-toolbar class="surface-900">
  <div class="grid col-12 align-items-center h-full text-50 m-0">
    <div class="col-4 align-items-center grid m-0">
      <button mat-icon-button (click)="sidenav.toggle()" class="mr-2">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="text-2xl" style="letter-spacing: 1px !important">
        Stream<span style="color: #33f58e !important">Indie</span>
      </h1>
      <mat-icon class="text-3xl">music_note</mat-icon>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a><mat-icon>home</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
