<mat-toolbar class="bg-second-color">
  <div class="grid col-12 align-items-center h-full text-white m-0">
    <div class="col-4 align-items-center grid m-0">
      <button
        [disableRipple]="true"
        mat-icon-button
        (click)="sidenav.toggle()"
        class="mr-4"
        style="width: fit-content !important"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1
        style="
          letter-spacing: 2px !important;
          font-family: stereofidelic;
          font-size: 2.2rem !important;
        "
      >
        Stream<span class="text-third-color">Indie</span>
      </h1>
    </div>
    <div class="col-4 m-0 p-0">
      <mat-form-field
        class="w-full text-base"
        appearance="fill"
        floatLabel="never"
        style="transform: translateY(10px); letter-spacing: 1px"
      >
        <input
          matInput
          placeholder="Search Your Music!"
          [formControl]="searchControl"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-4 grid m-0 p-0 justify-content-end gap-3">
      <ng-container *ngIf="!userData && !isLoading">
        <button
          mat-flat-button
          style="padding: 0 30px !important; letter-spacing: 1px"
          class="bg-third-color border-round-3xl"
        >
          Sign Up
        </button>
        <button
          mat-flat-button
          style="
            background-color: transparent !important;
            border: 3px solid #33f58e !important;
            padding: 0 30px !important;
            letter-spacing: 1px;
          "
          class="text-white border-round-3xl"
          routerLink="/session/login"
        >
          Sign In
        </button>
      </ng-container>
      <ng-container *ngIf="userData">
        <div class="profile-picture-container" [matMenuTriggerFor]="userAction">
          <div
            style="
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-size: cover !important;
            "
            [ngStyle]="{ 'background-image': getUserProfilePicture() }"
          ></div>
        </div>
        <mat-menu #userAction="matMenu">
          <div class="custom-mat-menu-item">
            <p class="m-0 p-0">Signed in as</p>
            <p
              class="m-0 p-0"
              style="font-weight: 500; margin-top: 2px !important"
            >
              {{ userData?.name }}
            </p>
          </div>
          <div style="height: 1px; width: 100%; background-color: #ccc"></div>
          <button mat-menu-item>Your Profile</button>
          <button mat-menu-item>Your Account</button>
          <button mat-menu-item>Settings</button>
          <div style="height: 1px; width: 100%; background-color: #ccc"></div>
          <button mat-menu-item (click)="logOut()">Sign Out</button>
        </mat-menu>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="bg-second-color">
    <mat-nav-list class="text-white">
      <ng-container *ngFor="let menu of menuList">
        <a
          [routerLink]="menu?.state"
          routerLinkActive="text-third-color"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.close()"
        >
          <mat-icon>{{ menu?.icon }}</mat-icon>
          <p class="m-0 text-base">{{ menu?.name }}</p>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-scrollbar thumbClass="custom-thumb-scrollbar">
      <router-outlet></router-outlet>
      <div
        class="footer-container w-full bg-second-color text-white grid m-0 p-6"
        style="box-sizing: border-box !important"
      >
        <div class="col-2">
          <p>Profile</p>
          <div class="link-container flex m-0 p-0 flex-column gap-2">
            <a href="#">StreamIndie</a>
            <a href="#">Yan Chris Difa</a>
          </div>
        </div>
        <div class="col-2">
          <p>Communities</p>
          <div class="link-container flex m-0 p-0 flex-column gap-2">
            <a href="#">Musicians</a>
            <a href="#">Developer</a>
            <a href="#">Advertisement</a>
            <a href="#">Vendors</a>
          </div>
        </div>
        <div class="col-2">
          <p>Links</p>
          <div class="link-container flex m-0 p-0 flex-column gap-2">
            <a href="#">Supports</a>
            <a href="#">Free Mobile App</a>
          </div>
        </div>
        <div class="col-6 flex m-0 p-0 align-items-end flex-column">
          <p>Social Medias</p>
          <div
            class="link-container flex m-0 p- gap-3"
            style="text-align: right !important"
          >
            <a href="#"><mat-icon svgIcon="instagram"></mat-icon></a>
            <a href="#"><mat-icon svgIcon="twitter"></mat-icon></a>
            <a href="#"><mat-icon svgIcon="youtube"></mat-icon></a>
          </div>
        </div>
        <div
          class="divider w-full"
          style="height: 1px; background-color: #555 !important; margin: 3rem 0"
        ></div>
        <div
          class="copyright-container grid m-0 p-0 w-full"
          style="height: fit-content !important"
        >
          <div class="col flex gap-3">
            <a href="#" class="text-white">Legal</a>
            <a href="#" class="text-white">Privacy Center</a>
            <a href="#" class="text-white">Privacy Policy</a>
          </div>
          <div class="col flex justify-content-end">
            <p style="color: #555 !important; font-size: 1rem" class="m-0">
              Copyright &copy; 2020 StreamIndie
            </p>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="audio-player-container w-full" style="position: fixed; bottom: 0">
  <app-audio-player></app-audio-player>
</div>
