<div class="login-container w-full h-full p-0 m-0 grid">
  <div
    class="col flex align-items-center w-full"
    style="
      background: linear-gradient(to bottom right, #33f58e, #fff, #33f58e);
      box-sizing: border-box !important;
    "
  >
    <div
      class="text-container flex gap-3 flex-column"
      style="margin-left: 40px"
    >
      <h1
        style="line-height: 3.2rem; font-size: 2.3rem; font-weight: 500"
        class="m-0"
      >
        Lorem ipsum dolor sit amet.
      </h1>
      <p
        style="
          font-size: 1.1rem;
          letter-spacing: 1px;
          line-height: 25px;
          width: 70%;
          color: #555;
        "
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id unde
        aliquam laborum quisquam aut quasi!
      </p>
      <button
        mat-flat-button
        style="
          padding: 5px 30px !important;
          letter-spacing: 1px;
          width: fit-content;
        "
        class="bg-third-color border-round-3xl"
        routerLink="/app"
      >
        <mat-icon>arrow_back</mat-icon>
        Back to Home
      </button>
    </div>
  </div>
  <div
    class="col bg-second-color flex align-items-center justify-content-center m-0 p-0"
  >
    <div
      class="form-container m-0 p-0 flex flex-column justify-content-center align-items-center"
      style="width: 50%"
    >
      <h1
        class="text-5xl text-white p-0"
        style="letter-spacing: 2px !important; font-family: stereofidelic"
      >
        Stream<span class="text-third-color">Indie</span>
      </h1>
      <mat-form-field
        class="w-full text-base"
        appearance="fill"
        floatLabel="never"
        style="letter-spacing: 1px; margin: 10px 0"
      >
        <input
          matInput
          placeholder="username"
          type="text"
          class="text-white"
          [formControl]="usernameForm"
        />
        <mat-error *ngIf="emailForm.hasError('required')"
          >This field is required</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="w-full text-base"
        appearance="fill"
        floatLabel="never"
        style="letter-spacing: 1px; margin: 0 0 10px 0"
      >
        <input
          matInput
          placeholder="email"
          type="email"
          class="text-white"
          [formControl]="emailForm"
        />
        <mat-error *ngIf="emailForm.hasError('required')"
          >This field is required</mat-error
        >
        <mat-error *ngIf="emailForm.hasError('email')"
          >Invalid email format</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="w-full text-base"
        appearance="fill"
        floatLabel="never"
        style="letter-spacing: 1px; margin: 0 0 10px 0"
      >
        <input
          matInput
          placeholder="password"
          type="password"
          class="text-white"
          [formControl]="passwordForm"
          #password
        />
        <mat-icon
          matSuffix
          class="text-white"
          *ngIf="!showPassword"
          (click)="showPassword = true; password.type = 'text'"
          >visibility</mat-icon
        >
        <mat-icon
          matSuffix
          class="text-white"
          *ngIf="showPassword"
          (click)="showPassword = false; password.type = 'password'"
          >visibility_off</mat-icon
        >
        <mat-error
          *ngIf="passwordForm.touched && passwordForm.hasError('required')"
          >This field is required</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="w-full text-base"
        appearance="fill"
        floatLabel="never"
        style="letter-spacing: 1px; margin: 0 0 10px 0"
      >
        <input
          matInput
          placeholder="confirm password"
          type="password"
          class="text-white"
          [formControl]="confirmPasswordForm"
          #confirmPassword
        />
        <mat-icon
          matSuffix
          class="text-white"
          *ngIf="!showConfirmPassword"
          (click)="showConfirmPassword = true; confirmPassword.type = 'text'"
          >visibility</mat-icon
        >
        <mat-icon
          matSuffix
          class="text-white"
          *ngIf="showConfirmPassword"
          (click)="
            showConfirmPassword = false; confirmPassword.type = 'password'
          "
          >visibility_off</mat-icon
        >
        <mat-error
          *ngIf="
            confirmPasswordForm.touched &&
            confirmPasswordForm.hasError('required')
          "
          >This field is required</mat-error
        >
      </mat-form-field>
      <button
        mat-flat-button
        class="w-full bg-third-color"
        style="font-size: 1rem; letter-spacing: 1px"
        (click)="signUp()"
      >
        Sign Up
      </button>
      <div
        style="
          height: 1px;
          background-color: #555 !important;
          margin: 2rem 0 1.2rem 0;
        "
        class="w-full"
      ></div>
      <p class="text-white" style="letter-spacing: 1px">
        Already have an account?
        <a class="text-third-color" routerLink="/session/login">Sign In Now!</a>
      </p>
    </div>
  </div>
</div>
