<div
  class="search-container w-full bg-first-color h-full p-6"
  style="min-height: calc(100vh - 160px); box-sizing: border-box"
>
  <h1 class="text-white mb-5" style="font-weight: 500; letter-spacing: 1.5px">
    Result for {{ '"' + searchTxt + '"' }}
  </h1>
  <div
    class="content-container m-0 p-0 gap-4"
    style="
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(min-content, max-content);
    "
  >
    <div
      class="artists-container bg-second-color"
      style="
        border-radius: 5px !important;
        padding: 2rem;
        box-sizing: border-box !important;
        height: fit-content !important;
      "
      [ngStyle]="{ display: artistsResult?.length ? 'block' : 'none' }"
      #artistsContainer
    >
      <h1
        style="color: #555; font-weight: 500; letter-spacing: 1.5px"
        class="p-0"
      >
        Artists
      </h1>
      <div
        class="w-full mb-5"
        style="height: 1px; background-color: #555; margin: 10px 0"
      ></div>
      <div class="artist-content-container flex m-0 p-0 gap-4 flex-column">
        <ng-container *ngFor="let artist of artistsResult">
          <div
            class="artist-content w-full flex m-0 p-0 gap-5"
            style="height: 150px !important"
            [routerLink]="'/app/details/' + artist?.id"
          >
            <div
              class="image-container h-full m-0"
              style="
                width: 150px !important;
                border-radius: 50%;
                overflow: hidden;
              "
            >
              <img
                [src]="
                  artist?.profile_picture?.url
                    ? artist?.profile_picture?.url
                    : '../../assets/images/default-user-profile.png'
                "
                alt=""
                style="object-fit: cover"
                class="w-full h-full"
              />
            </div>
            <div
              class="text-container flex flex-column m-0 p-0 justify-content-center"
            >
              <h1
                style="font-weight: 500; letter-spacing: 1.5px"
                class="text-white m-0"
              >
                {{ artist?.name }}
              </h1>
              <h3
                class="p-0 m-0 mt-1"
                style="font-size: 1.3rem; letter-spacing: 1px; color: #555"
              >
                {{ artist?.email }}
              </h3>
              <div
                class="user-type-container mt-2"
                style="
                  padding: 5px 20px;
                  border-radius: 20px;
                  width: fit-content;
                  background-color: #555;
                "
              >
                <p
                  class="m-0 p-0 text-first-color"
                  style="
                    font-size: 1rem;
                    letter-spacing: 1px;
                    width: fit-content;
                    font-weight: 500;
                  "
                >
                  {{ artist?.userType | titlecase }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      class="songs-container bg-second-color"
      style="
        border-radius: 5px !important;
        padding: 2rem;
        box-sizing: border-box !important;
        height: fit-content !important;
      "
      [ngStyle]="{ display: songsResult?.length ? 'block' : 'none' }"
      #songsContainer
    >
      <h1
        style="color: #555; font-weight: 500; letter-spacing: 1.5px"
        class="p-0"
      >
        Songs
      </h1>
      <div
        class="w-full mb-5"
        style="height: 1px; background-color: #555; margin: 10px 0"
      ></div>
      <div class="song-content-container flex m-0 p-0 gap-4 flex-column">
        <ng-container *ngFor="let song of songsResult">
          <div
            class="song-content w-full flex m-0 p-0 gap-5 song-card"
            style="height: 80px !important"
          >
            <div
              class="image-container h-full m-0;"
              style="width: 80px !important; position: relative"
            >
              <div
                class="song-overlay-container flex justify-content-center align-items-center m-0 p-0"
                [ngStyle]="{
                  opacity: currentPlayingSong?.id === song?.id ? 1 : 0
                }"
              >
                <button mat-icon-button (click)="setCurrentPlayingSong(song)">
                  <mat-icon
                    class="text-white m-0 p-0"
                    *ngIf="
                      currentPlayingSong?.id !== song?.id ||
                      (currentPlayingSong?.id === song?.id &&
                        !currentPlayingSong?.isPlayed)
                    "
                    >play_arrow</mat-icon
                  >
                  <mat-icon
                    class="text-white m-0 p-0"
                    *ngIf="
                      currentPlayingSong?.id === song?.id &&
                      currentPlayingSong?.isPlayed
                    "
                    >pause</mat-icon
                  >
                </button>
              </div>
              <img
                [src]="song?.image?.url"
                style="object-fit: cover"
                alt=""
                class="w-full h-full"
              />
            </div>
            <div
              class="text-container flex flex-column m-0 p-0 justify-content-center"
            >
              <h3
                style="
                  font-weight: 500;
                  letter-spacing: 1.5px;
                  font-size: 1.3rem;
                "
                class="text-white m-0"
              >
                {{ song?.title | separateTitle: "title" }}
              </h3>
              <h3
                class="p-0 m-0 mt-1"
                style="font-size: 1rem; letter-spacing: 1px; color: #555"
              >
                {{ song?.title | separateTitle: "artist" }}
              </h3>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      class="users-container bg-second-color"
      style="
        border-radius: 5px !important;
        padding: 2rem;
        box-sizing: border-box !important;
        height: fit-content !important;
      "
      [ngStyle]="{
        'margin-top':
          artistsContainer?.offsetHeight < songsContainer?.offsetHeight
            ? artistsContainer.offsetHeight -
              songsContainer?.offsetHeight +
              'px'
            : 0,
        display: usersResult?.length ? 'block' : 'none'
      }"
    >
      <h1
        style="color: #555; font-weight: 500; letter-spacing: 1.5px"
        class="p-0"
      >
        Users
      </h1>
      <div
        class="w-full mb-5"
        style="height: 1px; background-color: #555; margin: 10px 0"
      ></div>
      <div class="user-content-container flex m-0 p-0 gap-4 flex-column">
        <ng-container *ngFor="let user of usersResult">
          <div
            class="user-content w-full flex m-0 p-0 gap-5 user-card"
            style="height: 150px !important"
            [routerLink]="'/app/details/' + user?.id"
          >
            <div
              class="image-container h-full m-0"
              style="
                width: 150px !important;
                border-radius: 50%;
                overflow: hidden;
              "
            >
              <img
                [src]="
                  user?.profile_picture?.url
                    ? user?.profile_picture?.url
                    : '../../assets/images/default-user-profile.png'
                "
                alt=""
                style="object-fit: cover"
                class="w-full h-full"
              />
            </div>
            <div
              class="text-container flex flex-column m-0 p-0 justify-content-center"
            >
              <h1
                style="font-weight: 500; letter-spacing: 1.5px"
                class="text-white m-0"
              >
                {{ user?.name }}
              </h1>
              <h3
                class="p-0 m-0 mt-1"
                style="font-size: 1.3rem; letter-spacing: 1px; color: #555"
              >
                {{ user?.email }}
              </h3>
              <div
                class="user-type-container mt-2"
                style="
                  padding: 5px 20px;
                  border-radius: 20px;
                  width: fit-content;
                  background-color: #555;
                "
              >
                <p
                  class="m-0 p-0 text-first-color"
                  style="
                    font-size: 1rem;
                    letter-spacing: 1px;
                    width: fit-content;
                    font-weight: 500;
                  "
                >
                  {{ user?.userType | titlecase }}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      class="genres-container bg-second-color"
      style="
        border-radius: 5px !important;
        padding: 2rem;
        box-sizing: border-box !important;
        height: fit-content !important;
      "
      [ngStyle]="{
        'margin-top':
          !usersResult?.length &&
          songsResult?.length &&
          artistsContainer?.offsetHeight < songsContainer?.offsetHeight
            ? artistsContainer.offsetHeight -
              songsContainer?.offsetHeight +
              'px'
            : 0,
        display: genresResult?.length ? 'block' : 'none'
      }"
    >
      <h1
        style="color: #555; font-weight: 500; letter-spacing: 1.5px"
        class="p-0"
      >
        Genres
      </h1>
      <div
        class="w-full mb-5"
        style="height: 1px; background-color: #555; margin: 10px 0"
      ></div>
      <div class="genre-content-container flex m-0 p-0 gap-4">
        <ng-container *ngFor="let genre of genresResult">
          <div class="genre-content m-0 p-0 gap-6 genre-card">
            <div
              class="user-type-container mt-2"
              style="
                padding: 5px 20px;
                border-radius: 20px;
                width: fit-content;
                background-color: #555;
              "
            >
              <p
                class="m-0 p-0 text-first-color"
                style="
                  font-size: 1rem;
                  letter-spacing: 1px;
                  width: fit-content;
                  font-weight: 500;
                "
              >
                {{ genre?.name | titlecase }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
