<div
  class="w-full bg-first-color text-white p-6"
  style="box-sizing: border-box !important"
>
  <div
    class="content-container flex flex-column p-0 align-items-center"
    style="gap: 4rem !important"
  >
    <div
      class="banner-container col-12 m-auto p-0"
      style="max-width: 1270px; margin: 30px 0 !important"
    >
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="50"
        [loop]="true"
        [autoplay]="{ delay: 5000 }"
      >
        <ng-container *ngFor="let data of bannerData; let dataIndex = index">
          <ng-template swiperSlide>
            <div
              class="flex col-12 m-0 p-0 justify-content-evenly"
              style="gap: 1rem"
              [ngClass]="{ 'flex-row-reverse': dataIndex % 2 === 0 }"
            >
              <div
                class="image-container m-0 p-0"
                [ngClass]="{ 'justify-content-end': dataIndex % 2 === 0 }"
              >
                <img
                  [src]="data?.image"
                  alt=""
                  style="max-width: 600px; max-height: 500px; object-fit: cover"
                />
              </div>
              <div
                class="text-container m-0 p-0 justify-content-center flex-column"
                style="
                  display: flex !important;
                  letter-spacing: 1px !important;
                  width: 50%;
                "
                [ngClass]="{ 'align-items-end': dataIndex % 2 !== 0 }"
              >
                <h1
                  style="
                    width: 90%;
                    letter-spacing: 2px !important;
                    line-height: 3.2rem;
                    font-size: 2.3rem;
                    font-weight: bold;
                  "
                >
                  {{ data?.title }}
                </h1>
                <p
                  style="
                    width: 90%;
                    line-height: 1.8rem;
                    color: #555;
                    font-size: 0.85rem;
                  "
                >
                  {{ data?.text }}
                </p>
                <p style="width: 90%; line-height: 1.8rem; font-size: 1rem">
                  <a
                    href="#"
                    class="text-third-color flex gap-2"
                    style="letter-spacing: 1px"
                    >Explore Now! <mat-icon>arrow_right_alt</mat-icon></a
                  >
                </p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
    </div>
    <div
      class="popular-container col-12 m-0 p-0 m-auto"
      style="max-width: 1270px; overflow: hidden !important"
      *ngIf="artistsData?.length > 0"
    >
      <swiper
        #swiper
        [slidesPerView]="3"
        [spaceBetween]="50"
        [pagination]="{ clickable: true }"
        [autoplay]="{ delay: 3000 }"
        style="overflow: visible !important"
        [loop]="true"
      >
        <ng-container *ngFor="let artist of artistsData; let i = index">
          <ng-template swiperSlide>
            <div
              class="bg-second-color card-container"
              style="position: relative !important"
            >
              <div class="image-container">
                <img
                  [src]="artist?.image?.url"
                  style="
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                  "
                />
              </div>
              <div
                class="description-container flex align-items-end justify-content-between p-4"
              >
                <div class="text-cotainer">
                  <h1
                    class="m-0"
                    style="height: fit-content !important; letter-spacing: 1px"
                  >
                    {{ artist?.name }}
                  </h1>
                  <a
                    (click)="goToUser(artist)"
                    class="text-third-color flex align-items-center gap-2 see-artist-link"
                    style="letter-spacing: 1px; font-size: 1rem !important"
                    >See Artist <mat-icon>arrow_right_alt</mat-icon></a
                  >
                </div>
                <div class="actions-container">
                  <!-- Star button -->
                  <!-- <button
                    *ngIf="isArtistsStared[i]"
                    mat-icon-button
                    (click)="starOrUnstarArtist(i)"
                  >
                    <mat-icon style="transform: scale(1.2)">star</mat-icon>
                  </button>
                  <button
                    *ngIf="!isArtistsStared[i]"
                    mat-icon-button
                    (click)="starOrUnstarArtist(i)"
                  >
                    <mat-icon style="transform: scale(1.2)"
                      >star_border</mat-icon
                    >
                  </button> -->

                  <!-- Bookmark button -->
                  <!-- <button
                    *ngIf="isArtistsSaved[i]"
                    mat-icon-button
                    (click)="saveOrUnsaveArtist(i)"
                  >
                    <mat-icon style="transform: scale(1.2)">bookmark</mat-icon>
                  </button>
                  <button
                    *ngIf="!isArtistsSaved[i]"
                    mat-icon-button
                    (click)="saveOrUnsaveArtist(i)"
                  >
                    <mat-icon style="transform: scale(1.2)"
                      >bookmark_border</mat-icon
                    >
                  </button> -->
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
      <div
        class="description-container w-full flex justify-content-between mt-3"
      >
        <h2 style="letter-spacing: 3px !important">POPULAR ARTISTS</h2>
        <a
          href="#"
          class="text-third-color flex align-items-center gap-2"
          style="letter-spacing: 1px; font-size: 1rem !important"
          >See More <mat-icon>arrow_right_alt</mat-icon></a
        >
      </div>
    </div>
    <div
      class="genre-container col-12 m-auto p-0"
      style="max-width: 1270px; overflow: hidden !important"
      *ngIf="genresData?.length > 0"
    >
      <swiper
        #swiper
        [slidesPerView]="5"
        [spaceBetween]="20"
        [pagination]="{ clickable: true }"
        style="overflow: visible !important"
      >
        <ng-container *ngFor="let genre of genresData">
          <ng-template swiperSlide>
            <div
              class="col-12 bg-second-color card-container"
              style="padding: 20px !important; box-sizing: border-box"
            >
              <div
                class="image-container m-0"
                style="
                  width: 100% !important;
                  height: 200px !important;
                  overflow: hidden;
                  position: relative;
                "
              >
                <img
                  [src]="genre?.image?.url"
                  style="
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                  "
                />
                <div
                  class="overlay-container flex justify-content-end"
                  style="
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                  "
                >
                  <button
                    mat-mini-fab
                    class="bg-third-color"
                    (click)="setCurrentPlayingSongByGenre(genre)"
                  >
                    <mat-icon
                      style="color: #111 !important"
                      *ngIf="
                        genre?.id !== currentPlayingGenre?.id ||
                        (genre?.id === currentPlayingGenre?.id &&
                          !currentPlayingGenre?.isPlayed)
                      "
                      >play_arrow</mat-icon
                    >
                    <mat-icon
                      style="color: #111 !important"
                      *ngIf="
                        genre?.id === currentPlayingGenre?.id &&
                        currentPlayingGenre?.isPlayed
                      "
                      >pause</mat-icon
                    >
                  </button>
                </div>
              </div>
              <div class="description-container mt-2">
                <h2 class="m-0" style="letter-spacing: 1px !important">
                  {{ genre?.name }}
                </h2>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
      <div
        class="description-container w-full flex justify-content-between mt-3"
      >
        <h2 style="letter-spacing: 3px !important">GENRES</h2>
        <a
          href="#"
          class="text-third-color flex align-items-center gap-2"
          style="letter-spacing: 1px; font-size: 1rem !important"
          >See More <mat-icon>arrow_right_alt</mat-icon></a
        >
      </div>
    </div>
    <div
      class="new-container col-12 p-0 m-auto"
      style="
        max-width: 1270px;
        margin-bottom: 50px !important;
        overflow: hidden !important;
      "
      *ngIf="songsData?.length > 0"
    >
      <swiper
        #swiper
        [slidesPerView]="5"
        [spaceBetween]="20"
        [pagination]="{ clickable: true }"
        style="overflow: visible !important"
      >
        <ng-container *ngFor="let song of songsData">
          <ng-template swiperSlide>
            <div
              class="col-12 bg-second-color card-container"
              style="padding: 20px !important; box-sizing: border-box"
            >
              <div
                class="image-container m-0"
                style="
                  width: 100% !important;
                  height: 200px !important;
                  overflow: hidden;
                  position: relative;
                "
              >
                <img
                  [src]="song?.image?.url"
                  style="
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                  "
                />
                <div
                  class="overlay-container flex justify-content-end"
                  style="
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                  "
                >
                  <button
                    mat-mini-fab
                    class="bg-third-color"
                    (click)="setCurrentPlayingSong(song)"
                  >
                    <mat-icon
                      style="color: #111 !important"
                      *ngIf="
                        song?.id !== currentPlayingSong?.id ||
                        !currentPlayingSong?.isPlayed
                      "
                      >play_arrow</mat-icon
                    >
                    <mat-icon
                      style="color: #111 !important"
                      *ngIf="
                        song?.id === currentPlayingSong?.id &&
                        currentPlayingSong?.isPlayed
                      "
                      >pause</mat-icon
                    >
                  </button>
                </div>
              </div>
              <div class="description-container mt-2">
                <h2 class="m-0" style="letter-spacing: 1px !important">
                  {{ song?.title | separateTitle: "title" }}
                </h2>
                <p
                  style="
                    color: #555;
                    font-size: 1rem;
                    letter-spacing: 1px !important;
                    margin-top: 5px !important;
                  "
                  class="m-0"
                >
                  {{ song?.title | separateTitle: "artist" }}
                </p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </swiper>
      <div
        class="description-container w-full flex justify-content-between mt-3"
      >
        <h2 style="letter-spacing: 3px !important">NEW SONGS</h2>
        <a
          href="#"
          class="text-third-color flex align-items-center gap-2"
          style="letter-spacing: 1px; font-size: 1rem !important"
          >See More <mat-icon>arrow_right_alt</mat-icon></a
        >
      </div>
    </div>
  </div>
</div>
